@{
    ViewBag.Title = "RNG";
}
<head>
    <style>
        body {
            background-image: url("D:\pounded.jpg");
        }
    </style>
    <meta charset="Arimo">
    <meta name="keywords" content="dblgaming, DBL, DBLGaming">
    <meta name="description" content="Komunismu nenĂ­ nikdy dost!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="F:\dbl_site\scunt.ico" />
    <link rel="stylesheet" href="~/css.css" />
    <title>Scuntova nutovací dílna</title>
</head>
<p style="color: red">Vítej v pekle</p>

<body>
    <table id="dnd">
        <h2 style="color: cyan">Im going to cum</h2>
        <p Style="font/size: 2em;">@ViewBag.Cislo x on dlabaja uwu</p>
  
</body>